h2 {
    color: rgb(228, 130, 85);
    margin-bottom: 2rem;
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: center;
}

.add-new-player {
    text-align: center;
    background-color: white;
    width: 40vw;
    height: 35vh;
    margin-top: 5vh;
    border-radius: 10px;
}

.player-form {
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    width: 30vw;
    margin-left: 6rem;
}

input {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(255, 196, 0);
    width: 10rem;
    height: 1.5rem;
    margin: 1rem;
    border: 1px solid white;
    margin-left: 3rem;
}

input::placeholder {
    color: black;
}

.submit-button {
    width: 5vw;
    height: 3vh;
    background-color: rgb(255, 196, 0);
    justify-content: center;
    margin-left: 15rem;
}