form {
    background-color: rgb(228, 130, 85);
    width: 40vw;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 5px;
}

input {
    width: 25vw;
    height: 3vh;
    border-radius: 5px;
}

li {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 10px;
    background-color: rgb(255, 252, 249);
}